name: Documentation
on:
  push:
    branches:
      - ci # TODO: Remove
      - main

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Generate docs
        run: |
          mkdir .docs
          
          # godoc and dependencies
          go get golang.org/x/tools/cmd/godoc
          go install golang.org/x/tools/cmd/godoc
          
          # godoc-static and dependencies
          go get code.rocketnine.space/tslocum/godoc-static
          go install code.rocketnine.space/tslocum/godoc-static
          
          # Generate
          godoc-static -destination=.docs .
      - name: Publish docs
        uses: peaceiris/actions-gh-pages@v3
        with:
          GITHUB_TOKEN: ${{ github.token }}
          publish_dir: .docs
